name: CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo 
      uses: actions/checkout@v4
    - name: Use Node.js 20.x
      uses: actions/setup-node@v4
      with:
        node-version: 20.x
        cache: 'npm'
    - name: Install Dependencies
      run: npm install
    - name: Start the Application
      run: npm start &
    - name: Install Playwright dependencies
      run: npx playwright install
    - name: Sleep 5 sec
      run: sleep 5
    - name: Run Unit Tests
      run: npm run test:unit
    - name: Display Student's Softuni Username
      run: echo "boris.boev"
